#include "../include/resource.h"
#include <windows.h>

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SIMONSAYS           ICON                    "simonsays.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About SimonSays...",         ID_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About SimonSays"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            IDI_SIMONSAYS,IDC_STATIC,14,14,20,20
    LTEXT           "SimonSays Version 0.3",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2026",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END


/////////////////////////////////////////////////////////////////////////////
//
// Settings Dialog
//

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 250, 280
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Default text:",IDC_SETTINGS_LABEL_DEFAULT_TEXT,7,7,80,8
    EDITTEXT        IDC_SETTINGS_DEFAULT_TEXT,7,17,236,48,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
    CONTROL         "Insert default text automatically",IDC_SETTINGS_USE_DEFAULT_TEXT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,67,180,10
    LTEXT           "Language:",IDC_SETTINGS_LABEL_LANGUAGE,7,82,50,8
    COMBOBOX        IDC_SETTINGS_LANGUAGE_COMBO,7,92,110,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Voice:",IDC_SETTINGS_LABEL_VOICE,130,82,40,8
    COMBOBOX        IDC_SETTINGS_VOICE_COMBO,130,92,113,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Test Voice",IDC_SETTINGS_TEST_VOICE,130,112,113,14
    LTEXT           "Volume (10-100):",IDC_SETTINGS_LABEL_VOLUME,7,132,80,8
    EDITTEXT        IDC_SETTINGS_VOLUME_EDIT,198,130,45,12,ES_NUMBER | WS_TABSTOP
    CONTROL         "",IDC_SETTINGS_VOLUME_SLIDER,"msctls_trackbar32",WS_TABSTOP | TBS_AUTOTICKS,7,142,186,18
    LTEXT           "Rate (-10 to 10):",IDC_SETTINGS_LABEL_RATE,7,162,80,8
    EDITTEXT        IDC_SETTINGS_RATE_EDIT,198,160,45,12,ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL         "",IDC_SETTINGS_RATE_SLIDER,"msctls_trackbar32",WS_TABSTOP | TBS_AUTOTICKS,7,172,186,18
    CONTROL         "Speak phrase immediately when selecting",IDC_SETTINGS_SPEAK_ON_CLICK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,192,236,10
    CONTROL         "Remember category window size",IDC_SETTINGS_REMEMBER_CATEGORY_WINDOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,204,236,10
    CONTROL         "Minimize category window automatically",IDC_SETTINGS_MINIMIZE_CATEGORY_WINDOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,216,236,10
    CONTROL         "Increase SimonSays volume when playing",IDC_SETTINGS_INCREASE_VOLUME_WHEN_PLAYING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,7,228,236,10
    CONTROL         "Temporarily reduce other audio when playing",IDC_SETTINGS_REDUCE_OTHER_AUDIO_WHEN_PLAYING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED,7,240,236,10
    DEFPUSHBUTTON   "OK",IDOK,134,260,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,189,260,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerators
//

IDR_MAINACCEL ACCELERATORS
BEGIN
    VK_F2,          ID_SETTINGS_OPEN,    VIRTKEY
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,3,0,0
 PRODUCTVERSION 0,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Juan Rey Saura"
            VALUE "FileDescription", "SimonSays – Simply Speak"
            VALUE "FileVersion", "0.3.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "SimonSays.exe"
            VALUE "ProductName", "SimonSays"
            VALUE "ProductVersion", "0.3.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_ABOUTBOX AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

